.home {
  width: 100%;
  position: absolute;
  top: 8%;
  left: 0%;
}
.home_first_before {
  content: "";
  background-image: url("../../public/mt1.jpg");
  filter: blur(3px);
  -webkit-filter: blur(3px);
  /* border: 2px solid green; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
  height: 40rem;
  /* position: fixed; */
  z-index: 0 !important;
}
.home_first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 44rem;
  /* margin-left: 240px; */
}
.home_first_heading {
  font-size: 3.2rem;
  margin-bottom: 40px;
  /* margin: 0px auto; */
  margin-left: 290px;
  font-family: 'Nunito', sans-serif !important;
font-family: 'Sansita Swashed', cursive ;
  width: 800px;
  font-weight: 600;
}
.home_first_about {
  font-size: 1rem;
}
/* .c1 {
	color: rgb(251, 244, 137);
} */
.c2 {
  color: #ff7700;
  /* color: #418eff; */
}
